doctype
html
    head
        meta(charset="utf-8")
        title  口语语料库
        include ./includes/head
    body
        include ./includes/header
        block content
        include ./includes/footer