extends ../layout

block content
    .container
        .row
            .panel.panel-default
                .panel-heading
                    h1 今日任务
                .panel-body
                    h1(align='center')
                        small 共有句子数
                        span 10
                    h1(align='center')
                        small 今天已完成
                        span 10
                    div(align='center')
                        a.btn.btn-info.btn-lg(type='button',href='./practice') 开始学习