//
   Created by lijie8 on 2015/2/1.
extends ../layout

block content
   script(type='text/javascript', src='/sentence.js')
   .container
      .row
         .panel.panel-default
            .panel-heading
               h1 添加句子
            .panel-body
               form#sentence_form.form-horizontal(role='form',action='/sentence/new',method='post')
                  h3
                     span.label.label-info 英文句子
                  textarea#english_content.input-lg.form-control(name='english_content')
                  h3
                     span.label.label-info 汉语意思
                  textarea#chinese_content.input-lg.form-control(name='chinese_content')
                  br
                  button.btn.btn-info.btn-lg(type='button',onclick='checkSentenceSubmit()') 添加
                  a.btn.btn-info.btn-lg(type='button',href='./practice') 取消